---
import Card from '../../components/Card.astro';
---

<main>
    <h1><span class="text-gradient">OFFENSE -- SPLIT BACK -- OUT</span></h1>
    <div class="play">
        <h2>Split Back Out Plays</h2>
        <h4>Play 1</h4>
        <p>Split back out </p>    
        <p>The 3 and 4 go to where 5 and 6 were at the beginning of the play -- face the QB as much as possible.</p>   
        <p>The 5 and 6 run slant routes.</p>   
        <p>The 1 should find open space for a quick pass if needed.</p>  

        <img src="/split-back-out.png" />

        <h4>Variations</h4>
        <h4>Long 5 or Long 6</h4>
        <div>Split back out long 5   or   Split back out long 6</div>     
        <p>Same as above expect the 5 or 6 run long with a post route.</p>   
        

        <h4>Send the center</h4>
        <p>Split back out send the center</p>    
        <p>Same as above expect the 1 runs a deep post right as soon as he/she sanps the ball.</p>  
        <p>The 6 should slant to center field</p>
        <p>The 5 should run a post route straight down the left side of the field</p>

        <img src="/split-back-out-send-the-center.png" />
    </div>

    <Card
		href="/"
		title="HOME"
        body=""
	/>
</main>

<style>
    main {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    .play {
        display: flex;
        flex-direction: column;

        align-items: center;
    }
    
    h4 {
        margin: 10px 0;
    }
    
    p {
        margin: 1px 0;
    }

    img {
        margin-top: 10px;
        width: 100%;
        max-width: 800px;
        padding-bottom: 20px;
        border-bottom: 2px solid #0c0c0c;
        margin-bottom: 10px;
    }
</style>