---
import Card from '../../components/Card.astro';
---

<main>
    <h1><span class="text-gradient">OFFENSE -- SPLIT BACK -- CROSS</span></h1>
    <div class="play">
        <h2>Split Back Cross Plays</h2>
        <h4>Play 1</h4>
        <p>Split back cross handoff left</p>    
        <p>Both 3 and 4 go behind the QB (the 2). The 2 fakes to right (3) and then handoffs to the left (4).</p>   
        <p>Usually the 4 delays for a beat so he/she does not collide with the 3.</p>  

        <img src="/split-back-cross-fake-right-handoff-left.png" />

        <h4>Play 2</h4>
        <p>Split back cross handoff right</p>    
        <p>Both 3 and 4 go behind the QB (the 2). The 2 fakes to left (4) and then handoffs to the right (3). </p>   
        <p>Usually the 3 delays for a beat so he/she does not collide with the 4.</p>  

        <img src="/split-back-cross-fake-left-handoff-right.png" />

        <h4>Play 3</h4>
        <p>Split back cross roll right</p>    
        <p>Both 3 and 4 go behind the QB (the 2). The 2 fakes to both. </p>   
        <p>He or she rolls out to the right and passes to 6 or any open receiver.</p>  

        <h4>Play 4</h4>
        <p>Split back cross roll left</p>  

        <img src="/split-back-cross-fake-play-action-pass.png" />

    </div>

    <Card
		href="/"
		title="HOME"
        body=""
	/>
</main>

<style>
    main {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    .play {
        display: flex;
        flex-direction: column;

        align-items: center;
    }
    
    h4 {
        margin: 10px 0;
    }
    
    p {
        margin: 1px 0;
    }

    img {
        margin-top: 10px;
        width: 100%;
        max-width: 800px;
        padding-bottom: 20px;
        border-bottom: 2px solid #0c0c0c;
        margin-bottom: 10px;
    }
</style>